<Context path="" debug="0" reloadable="true" crossContext="true">
    <Resource auth='Container' name='jdbc/datadict' type='javax.sql.DataSource'
	driverClassName="com.mysql.jdbc.Driver" 
	username="@DB.USER@"
	password="@DB.PASSWORD@"
	maxIdle="30"
	maxActive="100"
	maxWait="10000"
	logAbandoned="true"
	removeAbandoned="true"
	removeAbandonedTimeout="60"
	url="jdbc:mysql://@DB.HOST@/@DB.DATABASE@?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
</Context>
<!--
This attribute was used in older versions of datadict.
	factory="org.apache.commons.dbcp.BasicDataSourceFactory"
-->
