<caucho.com>

<log id="/" href="log/stderr.log"/>

 <dbpool.sql id="datadict" driver="org.gjt.mm.mysql.Driver" 
		 url="jdbc:mysql://127.0.0.1:3306/DataDict" user="dduser" password="xxx"/>

 <http-server character-encoding='ISO-8859-1'>
  <app-dir>/home/www</app-dir>
  <srun host='127.0.0.1' port='6802' />
  <caucho-status>false</caucho-status>
  <class-update-interval id='2'/>
  <thread-min>3</thread-min>
  <thread-max>150</thread-max>
  <thread-keepalive id=100/>
  <cache dir='cache' size='1024' entries='1024'/>
	
  <host id=''>
   <access-log id='log/access.log' format='%h %l %u %t "%r" %s %b "%{Referer}i" "%{User-Agent}i"'/>
   <error-log id='log/error.log'/>

   <servlet-mapping url-pattern="*.jsp" servlet-name="com.caucho.jsp.JspServlet"/>

   <web-app id="/datadict/public" app-dir="datadict/public/">

	    <classpath id="../WEB-INF/lib/classes"/>
		<classpath id="../WEB-INF/lib/xmlserver.jar"/>
		<classpath id="../WEB-INF/lib/xerces.jar"/>
		<classpath id="../WEB-INF/lib/xalan.jar"/>
		<classpath id="../WEB-INF/lib/pja.jar"/>
		<classpath id="../WEB-INF/lib/pjatools.jar"/>
		<classpath id="../WEB-INF/lib/itext-0.99.jar"/>

		<classpath id="../WEB-INF/lib/xmlrpc.jar"/>
		<classpath id="../WEB-INF/lib/uit-server.jar"/>
		<classpath id="../WEB-INF/lib/uit-definition.jar"/>
		<classpath id="../WEB-INF/lib/uit-security.jar"/>
		<classpath id="../WEB-INF/lib/eionet-dir.jar"/>
		<classpath id="../WEB-INF/lib/castor.jar"/>

		<context-param application-name="datadict"/>
		<context-param authenticator="eionet.meta.DDuser"/>
		<context-param login-error-page="error.html"/>
		<context-param log-level="5"/>
		<context-param versioning="true"/>
		<context-param visuals-path="/home/www/webs/datadict/visuals"/>
		<context-param temp-file-path="/home/www/webs/datadict/templates"/>

		<servlet-mapping url-pattern="*.jsp" servlet-name="com.caucho.jsp.JspServlet"/>
		<servlet-mapping url-pattern="/servlet/*" servlet-name="invoker"/>

		<cache-mapping url-pattern="*.gif*" expires="1d"/>
		<cache-mapping url-pattern="*.jpeg" expires="1d"/>
		<cache-mapping url-pattern="*.jpg" expires="1d"/>

		<!-- servlet mappings -->

		<servlet servlet-name="rpcrouter" servlet-class="com.tee.uit.servlets.XmlRpcRouter"/>
	    <servlet-mapping url-pattern="/rpcrouter" servlet-name="rpcrouter"/>

		<servlet servlet-name="Login" servlet-class="eionet.meta.LoginServlet"/>
		<servlet-mapping url-pattern="/Login" servlet-name="Login"/>

		<servlet servlet-name="Logout" servlet-class="eionet.meta.LogoutServlet"/>
		<servlet-mapping url-pattern="/Logout" servlet-name="Logout"/>

		<servlet servlet-name="GetSchema" servlet-class="eionet.meta.GetSchema"/>
		<servlet-mapping url-pattern="/GetSchema" servlet-name="GetSchema"/>

		<servlet servlet-name="Import" servlet-class="eionet.meta.Import"/>
		<servlet-mapping url-pattern="/Import" servlet-name="Import"/>

		<servlet servlet-name="DsVisualUpload" servlet-class="eionet.meta.DsVisualUpload"/>
		<servlet-mapping url-pattern="/DsVisualUpload" servlet-name="DsVisualUpload"/>

		<servlet servlet-name="GetPrintout" servlet-class="eionet.meta.GetPrintout"/>
		<servlet-mapping url-pattern="/GetPrintout" servlet-name="GetPrintout"/>


		<session-config>
			<session-timeout>30</session-timeout>
		</session-config>
   </web-app>

  </host>
 </http-server>
</caucho.com>
