	<Host appBase='webapps'
	contextClass='org.apache.catalina.core.StandardContext'
	configClass='org.apache.catalina.startup.ContextConfig'
	debug='0'
	mapperClass='org.apache.catalina.core.StandardHostMapper'
	unpackWARs='true'
	name='dd.eionet.eu.int'
	autoDeploy='true'
	errorReportValveClass='org.apache.catalina.valves.ErrorReportValve'
	className='org.apache.catalina.core.StandardHost'
	deployXML='true' liveDeploy='true'>
<!-- START OF DATADICTIONARY -->
		<Context crossContext='true' debug='0' path='/datadict' docBase='/home/jaanus/datadict' reloadable='true'>
			<Logger timestamp='true' suffix='.log' className='org.apache.catalina.logger.FileLogger' prefix='dd.' />
			<Resource auth='Container' name='jdbc/datadict' type='javax.sql.DataSource' />
			<ResourceParams name='jdbc/datadict'>
				<parameter>
					<name>factory</name>
					<value>org.apache.commons.dbcp.BasicDataSourceFactory</value>
				</parameter>
				<parameter>
					<name>maxActive</name>
					<value>100</value>
				</parameter>
				<parameter>
					<name>maxIdle</name>
					<value>30</value>
				</parameter>
				<parameter>
					<name>maxWait</name>
					<value>10000</value>
				</parameter>
				<parameter>
					<name>username</name>
					<value>dduser</value>
				</parameter>
				<parameter>
					<name>password</name>
					<value>xxx</value>
				</parameter>
				<parameter>
					<name>driverClassName</name>
					<value>org.gjt.mm.mysql.Driver</value>
				</parameter>
				<parameter>
					<name>url</name>
					<value>jdbc:mysql://localhost:3306/testdd</value>
				</parameter>
			</ResourceParams>
		</Context>
<!-- END OF DATADICTIONARY -->
	</Host>
