
.TeaserBoxContainer, .teaserBoxcontainer, .teaserboxcontainer {
        background-color: #ECECEC;
        border: 1px solid #FF9900;
        margin-bottom: 2px;
        margin-left: 2px;
        margin-right: 2px;
        font-size: 8pt; 
}

.TeaserBox, .teaserBox, .teaserbox {
        background-color: #ECECEC;
        font-size: 8pt; 
}

.TeaserBoxHeader, .teaserboxHeader, .teaserboxheader {
        background-color: #FF9900;
}

.head0w, .Head0w {  font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
        font-size: 10pt; 
        font-style: normal; 
        line-height: normal; 
        font-weight: bold; 
        color: #FFFFFF;
        text-decoration: none; 
}