
.TeaserBox {
        font-size: 8pt; 
}

.TeaserBox h2 {
	background: #F09000 url(images/dd_bgr_cell_head.jpg) no-repeat;
	font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
  border:none;
  text-align: center;
  padding-top: .2em;
  padding-bottom: .2em;
  margin-bottom: 0;
	font-size: 10pt; 
	font-style: normal; 
	line-height: normal; 
	font-weight: bold; 
	color: #FFFFFF;
	text-decoration: none; 
}
