/* styles that aren't in the central style sheet */
#outerframe {
	width: 620px;
	padding: 3px;
	margin-top: 10px;
	border: 1px dotted #91aa73;
	border-radius: 6px;/* CSS3 */
	-moz-border-radius: 6px;/* Mozilla */
}

#innerframe {
	padding: 3px;
	border: 1px solid #d8e1ce;
	border-radius: 6px;/* CSS3 */
	-moz-border-radius: 6px;/* Mozilla */
}

/*
* Popups don't have left or right columns. Instead we
* indent the text a bit
*/
.popup {
	margin:30px;
	background-image: none;
	background-color: white;
}

.popuphead hr {
	background-color: #d8e1ce;
	height: 15px;
	border: none;
}

/* Boxes on index.jsp start */
.TeaserBox {
        font-size: 8pt;
}

.TeaserBox h2 {
  background-color: #91aa73 ;
  font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
  border:none;
  text-align: center;
  padding-top: .2em;
  padding-bottom: .2em;
  margin-bottom: 0;
  font-size: 10pt;
  font-style: normal;
  line-height: normal;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
}
/* Boxes on index.jsp end */

