/* styles that aren't in the central style sheet */
#outerframe {
	padding: 3px;
	margin-top: 10px;
	border: 1px dotted #91aa73;
	border-radius: 6px;/* CSS3 */
	-moz-border-radius: 6px;/* Mozilla */
}

#innerframe {
	padding: 3px;
	border: 1px solid #d8e1ce;
	border-radius: 6px;/* CSS3 */
	-moz-border-radius: 6px;/* Mozilla */
}

/*
* Popups don't have left or right columns. Instead we
* indent the text a bit
*/
.popup {
	margin:30px;
	background-image: none;
	background-color: white;
}

.popuphead hr {
	background-color: #d8e1ce;
	height: 15px;
	border: none;
}

/* Boxes on index.jsp start */
#boxes td.box {
	width: 50%;
	border: 1px solid #d8e1ce;
	vertical-align: top;
	font-size: 8pt;
}

#boxes h2 {
	background-color: #91aa73;
	font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
	border:none;
	text-align: center;
	padding-top: .2em;
	padding-bottom: .2em;
	margin-bottom: 0;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
/* Boxes on index.jsp end */

#quickbar {
	border: 1px solid #91aa73;
	background-color:#FFFFFF;
	padding: 3px;
	font-family: Verdana, Arial, "MS Sans Serif", sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: normal;
	text-decoration: none
}

#createbox {
	border: 1px solid #91aa73;
	margin-top: 10px;
}

/* Create box */
#outputsmenu {
	border: 0px;
	width: 100%;
	text-align: left;
	vertical-align: middle;
}


/* Tables table */
#dataset-tables {
	width: 100%;
}

#dataset-tables th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
	background: #666666;
	text-decoration: none;
}

#dataset-tables td{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	background: #FFFFFF;
	text-decoration: none;
	text-align: left;
}

/* Dataset table "Obligations in ROD" */
.subtable{
	width: 100%;
	padding: 2px;
}

.subtable th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
	background: #808080;
	text-decoration: none;
}

.subtable td{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	background: #FFFFFF;
	text-decoration: none;
	vertical-align: top;
}

/* Dataset table "Complex attributes" */
#dataset-attributes {
	width: 100%;
	vertical-align: middle;
}

#dataset-attributes td{
	vertical-align: middle;
}

