
body {
  background-color:	#EFEFEF;
  color: #000000;
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9pt;
  background-image: url("images/eionet_background.jpg");
  background-repeat: repeat-y;
}

/*
 * Popups don't have left or right columns. Instead we
 * indent the text a bit
 */
.popup {
  margin:30px;
  background-image: none;
}

.popuphead h1 {
  color: #006666;
  font-size: 14pt;
  font-weight: bold;
}

.popuphead hr {
   background-color: #ff9400;
   height: 15px;
   border: none;
}

.sitetitle {
  color: #006666;
  font-size: 18pt;
  font-weight: bold;
}

.sitetagline {
  color: #006666;
  font-size: 10pt;
  font-weight: bold;
}

.wrkcopy {
  color: #FF9900;
  font-size: 12pt;
  font-weight: bold;
}

table.box {
  background-color: #F0F0F0;
}

.Mainfont {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 10pt; 
  font-style: normal; 
  line-height: normal; 
  text-decoration: none;
  color: #000000;
}

.barfont {
  font-family: Verdana, Arial, "MS Sans Serif", sans-serif;
  font-size: 7pt;
  font-style: normal;
  line-height: normal;
  text-decoration: none
}

.smallfont {
  font-family: Verdana, Arial, "MS Sans Serif", sans-serif; 
  font-size: 8pt;
  font-style: normal; 
  line-height: normal;
  font-weight: bold;
  text-decoration: none;
}

.smallfont_light {
  font-family: Verdana, Arial, "MS Sans Serif", sans-serif; 
  font-size: 8pt;
  font-style: normal; 
  line-height: normal;
  text-decoration: none;
}

.title1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-style: normal; 
  line-height: normal; 
  font-weight: bold; 
  text-decoration: none; 
  color: #006666; } 

.title2 { font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10pt; 
font-style: normal; 
line-height: normal; 
font-weight: bold; 
text-decoration: none; 
color: #006666; } 

.title3 { font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10pt;
font-style: normal; 
line-height: normal; 
font-weight: bold; 
text-decoration: none; 
color: #006666; }

.head0 {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9pt;
font-style: normal; 
line-height: normal; 
font-weight: bold; 
text-decoration: none; }

.head00 {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10pt;
font-style: normal; 
line-height: normal; 
font-weight: bold; 
text-decoration: none; }

.head00w {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12pt;
font-style: normal; 
line-height: normal; 
font-weight: bold;
color: #FFFFFF;
text-decoration: none; }

.head1 {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12pt;
font-style: normal; 
line-height: normal; 
font-weight: bold; 
text-decoration: none; }

.head1w {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 12pt; 
font-style: normal; 
line-height: normal; 
font-weight: bold; 
color: #FFFFFF;
text-decoration: none; }

.head2 { font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 16pt; 
font-style: normal; 
line-height: normal; 
font-weight: bold; 
text-decoration: none }

.help { font-family: Arial Black, Arial, Verdana, Helvetica, sans-serif; 
font-size: 8pt; 
font-style: normal; 
line-height: normal; 
font-weight: bold; 
color: #008B8B;
text-decoration: none }

.info { font-family: Courier New, sans-serif; 
font-size: 8pt; 
font-style: normal; 
line-height: normal; 
font-weight: bold; 
color: #008B8B;
text-decoration: none }

a:link { color: #024176 }
a:visited { color: #A30A21 }
a:active { color: #A30A21 }

h1 { font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 16pt; 
font-style: normal; 
line-height: normal; 
font-weight: bold; 
text-decoration: none }

h2 {
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12pt; 
    font-style: normal; 
    line-height: normal; 
    font-weight: bold; 
    text-decoration: none;
}

/*
 * We don't change to italics, but change the colour
 */
em {
    font-style: normal; 
    color: #006666;
}

h3 {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 11pt; 
font-style: normal; 
line-height: normal; 
font-weight: bold; 
text-decoration: none; }


/*
 * <td> styles
 */

td {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-style: normal; 
	line-height: normal; 
	text-decoration: none;
}

td.barfont_bordered {
	border: 1px solid #C0C0C0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
}

td.small {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-style: normal; 
	line-height: normal; 
	text-decoration: none;
}

td.short_name {
	font-weight: bold;
	border: 1px solid #C0C0C0;
	vertical-align: top;
	background: #FFB652;
}

td.short_name_value {
	font-size: 12pt;
	font-weight: bold;
	border: 1px solid #C0C0C0;
	vertical-align: top;
	background: #FFB652;
}

td.simple_attr_title {  font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	border: 1px solid #C0C0C0;
	vertical-align: top;
}

td.simple_attr_value {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	vertical-align: top;
}

td.simple_attr_value_big {  font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12pt;
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	vertical-align: top;
}

td.simple_attr_help {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	border: 1px solid #C0C0C0;
	vertical-align: top;
	text-align: center;
}

td.simple_attr_title_odd {  font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	vertical-align: top;
	background: #FFFFFF;
}

td.simple_attr_value_odd {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	vertical-align: top;
	background: #FFFFFF;
}

td.simple_attr_value_big_odd {  font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12pt;
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	vertical-align: top;
	background: #FFFFFF;
}

td.simple_attr_help_odd {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	vertical-align: top;
	text-align: center;
	background: #FFFFFF;
}

td.tbl_elms {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 7pt;
font-style: normal; 
line-height: normal; 
font-weight: normal;
border-left: 1px solid #C0C0C0;
border-bottom: 1px solid #C0C0C0;
background: #FFFFFF;
text-decoration: none;
vertical-align: top;
}

td.complex_attr_title {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-weight: bold;
border-left: 1px solid #C0C0C0;
border-top: 1px solid #C0C0C0;
border-bottom: 1px solid #C0C0C0;
vertical-align: top;
}

td.complex_attr_help {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-weight: bold;
border-left: 1px solid #C0C0C0;
border-top: 1px solid #C0C0C0;
border-bottom: 1px solid #C0C0C0;
text-align: center;
vertical-align: top;
}

td.complex_attr_value {  font-family: Verdana, Arial, Helvetica, sans-serif; 
border-left: 1px solid #C0C0C0;
border-top: 1px solid #C0C0C0;
border-bottom: 1px solid #C0C0C0;
vertical-align: top;
}

td.complex_attr_title_odd {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-weight: bold;
border-left: 1px solid #C0C0C0;
border-top: 1px solid #C0C0C0;
border-bottom: 1px solid #C0C0C0;
background: #FFFFFF;
vertical-align: top;
}

td.complex_attr_help_odd {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-weight: bold;
border-left: 1px solid #C0C0C0;
border-top: 1px solid #C0C0C0;
border-bottom: 1px solid #C0C0C0;
background: #FFFFFF;
text-align: center;
vertical-align: top;
}

td.complex_attr_value_odd {  font-family: Verdana, Arial, Helvetica, sans-serif; 
border-left: 1px solid #C0C0C0;
border-top: 1px solid #C0C0C0;
border-bottom: 1px solid #C0C0C0;
background: #FFFFFF;
vertical-align: top;
}

td.dst_tbls {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10pt;
font-style: normal; 
line-height: normal; 
border-left: 1px solid #C0C0C0;
border-top: 1px solid #C0C0C0;
border-bottom: 1px solid #C0C0C0;
background: #FFFFFF;
text-decoration: none;
text-align: left;
}

td.mnd_opt_cnd {
  background-color: #FFFFFF;
  border: 1px solid #FF9900;
}

/*
 * <th> styles
 */

th {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10pt;
	font-style: normal; 
	line-height: normal; 
	font-weight: bold; 
	background: #FFFFFF;
	text-decoration: none;
	border-left: 1px solid #FF9900;
	border-top: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
}

th.small {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt;
	font-style: normal; 
	line-height: normal; 
	font-weight: bold; 
	background: #FFFFFF;
	text-decoration: none;
	border-left: 1px solid #FF9900;
	border-top: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
}

th.tbl_elms {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 7pt;
font-style: normal; 
line-height: normal; 
font-weight: bold;
border-left: 1px solid #C0C0C0;
border-top: 1px solid #C0C0C0;
border-bottom: 1px solid #C0C0C0;
color: #FFFFFF;
background: #808080;
text-decoration: none;
text-align: left;
}

th.dst_tbls {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10pt;
font-style: normal; 
line-height: normal; 
font-weight: bold;
border-left: 1px solid #C0C0C0;
border-top: 1px solid #C0C0C0;
border-bottom: 1px solid #C0C0C0;
color: #FFFFFF;
background: #666666;
text-decoration: none;
text-align: left;
}

/*
 *
 */

th a:link { color: #8080ff }
th a:visited { color: #ff8080 }
th a:active { color: #ff8080 }

.back { font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12pt;
font-style: normal; 
line-height: normal; 
font-weight: bold; 
color:#FFFFFF;
background-color:#FFFFFF;
text-decoration: none
}

th.sort_asc {
border-width: 1px;
cursor: s-resize;
border-color: gray;
}

th.sort_desc {
border-width: 1px;
cursor: n-resize;
border-color: gray;
}


img#selected_order {
border-width: 1px;
border-color: red;
border-style: solid;
}

th.selected { 
border-width: 2px;
border-color: red;
}

input.smallbutton {  font-family: Verdana, Arial, "MS Sans Serif", sans-serif; 
font-size: 7pt;
font-style: normal; 
line-height: normal;
text-decoration: none; }

input.smallbuttonb {  font-family: Verdana, Arial, "MS Sans Serif", sans-serif; 
font-size: 7pt;
font-style: normal; 
line-height: normal;
font-weight: bold;
text-decoration: none; }

input.mediumbutton {  font-family: Arial, "MS Sans Serif", sans-serif; 
font-size: 8pt;
font-style: normal; 
line-height: normal;
text-decoration: none; }

input.mediumbuttonb {  font-family: Arial, "MS Sans Serif", sans-serif; 
font-size: 8pt;
font-style: normal; 
line-height: normal;
font-weight: bold;
text-decoration: none; }

input.loginbutton {
	font-family: Arial, "MS Sans Serif", sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: bold;
}

input.smalltext {  font-family: Verdana, Arial, "MS Sans Serif", sans-serif; 
font-size: 8pt;
font-style: normal; 
line-height: normal;
text-decoration: none; }

textarea.small {  font-family: Verdana, Arial, "MS Sans Serif", sans-serif; 
font-size: 8pt;
font-style: normal; 
line-height: normal;
text-decoration: none; }

select.small {
    font-family: Verdana, Arial, "MS Sans Serif", sans-serif; 
    font-size: 8pt;
    font-style: normal; 
    line-height: normal;
    text-decoration: none;
}

span.srch_rslt_tab {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-style: normal; 
	line-height: normal; 
	text-decoration: none;
	color: #024176;
}

span a:link { color: #024176 }
span a:visited { color: #024176 }
span a:active { color: #024176 }

.commonelm{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: bold;
	color: #024176;
}

a.disabled{
	color:gray;
}

/*
 * Admonitions
 */
.caution {
    color: red;
    border-width: 1px;
}

.error {
    font-style: bold;
}

.navbutton, .navbutton:visited {
  display:block;
  font-size: 9px;
  font-weight: normal;
	text-transform: uppercase;
  text-decoration: none;
  color:black;
/* IE6 is in quirks mode when this CSS file is referenced
   Therefore the width is set "incorrectly"
*/
  width:113px;
  height:15px;
	text-align: right;
  padding: 0px 8px 0px 0px;
  background: url('images/empty.jpg') no-repeat left top;
  border: none;
  margin: 0px 3px 0px 0px;
}
/* Temporary */
#pagefoot {
  margin-bottom: 1em;
  font-family: Verdana, Arial, "MS Sans Serif", sans-serif;
  font-size: 0.8em;
  font-style: normal;
  text-align: center;
}

