@media screen { /* To prevent PocketPC from loading the stylesheet */

/* Page head styles */
#pagehead {
	height: 138px;
	background-image:url('images/treeeionet.png');
	background-repeat: no-repeat;
}

#pagehead form {
	position: absolute;
	display: inline;
	left: 10px;
	top: 121px;
}

#pagehead input {
	font-size: 70%;
	background-color: #ff9400;
	width: 100px;
}

/* Site title and site tagline start */
#identification {
	position: absolute;
	left: 150px;
	top: 35px;
	right: 50px;
}

#logo {
	float:right
}

.eionetaccronym {
	font-variant: small-caps;
	text-transform:uppercase;
}

.sitetitle {
	color: #006666;
	font-size: 14pt;
	font-weight: bold;
}

.sitetagline {
	color: #006666;
	font-size: 10pt;
	font-weight: bold;
}
/* Site title and site tagline end */

/* The box where the content is */
#workarea {
	clear: right;
	margin-left: 150px;
	padding-left:0;
	margin-right: 10px;
}

#outerframe {
	padding: 3px;
	margin-top: 10px;
	border: 1px dotted #C0C0C0;
	border-radius: 6px;/* CSS3 */
	-moz-border-radius: 6px;/* Mozilla */
}

#innerframe {
	padding: 3px;
	border: 1px solid #FF9900;
	border-radius: 6px;/* CSS3 */
	-moz-border-radius: 6px;/* Mozilla */
}

#pagefoot {
	clear:both;
	margin-left: 150px;
	padding-left:0px;
	padding-right: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	text-align: center;
}

/* Temporary */
#pagefoot {
	margin-bottom: 1em;
	font-family: Verdana, Arial, "MS Sans Serif", sans-serif;
	font-size: 0.8em;
	font-style: normal;
	text-align: center;
}

/* fonts, colour-schemes etc. */
body {
	margin:0px;
	padding:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-style: normal;
	line-height: normal;
	background: #f0f0f0 url('images/background_orange.png') repeat-y;
}

/* Anchors */
a:link {
	color: #024176
}

a:visited {
	color: #A30A21
}

a:active {
	color: #A30A21
} 

/* Remove the border around images */

a img {
	border: none;
	margin: 0px;
	padding: 0px;
}

p {
	padding-left:4px;
	padding-right:4px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	text-decoration: none
	padding-left:4px;
}

h1 {
	font-size: 1.4em;
	line-height: 120%;
	margin-top:0;
	padding-top: 0.5em;
}

h2 {
	font-size: 1.3em;
	line-height: normal;
	margin-top:0;
	padding-top: 0.5em;
}

h3 {
	font-size: 1.2em;
	line-height: normal;
}

h4, h5, h6 {
	line-height: normal;
}

kbd {
	font-weight: bold;
}

/* Lists */

ul {
	list-style: url("images/smalldiamond.gif");
}

/* Tables */
table {
	empty-cells: show;
	border-collapse: collapse;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
	padding-left:5px;
}

.zebradark {
	background-color: #D3D3D3;
}

.zebralight {
	background-color: transparent;
}

/* Tables end */

/*
* The globalnav is for buttons that exist on all pages.
* They are shown on the left
*/
#globalnav {
	position: absolute;
	left: 0;
	top: 143px;
	width: 130px;
	margin: 0px;
}

#globalnav h2 {
	color: black;
	border: none;
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	line-height: normal;
	padding-top:10px;
	margin-bottom: 0px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

#globalnav ul {
	list-style: none;
	list-style-image: none;/* bug in IE */
	padding-left: 5px;
	margin:0px 0px 0px 10px;
}

#globalnav li {
	font-size: 9px;
	font-family: sans-serif;
	font-weight: bold;
	width:100px;
	height:13px;
	line-height: 100%;
	vertical-align: bottom;
	color:#ffffff;
	border: none;
	margin: 0px;
	white-space: nowrap;
}

#globalnav li a {
	display:block;
	font-weight: bold;
	text-decoration: none;
	color:#ffffff;
	width:80px;
	height:13px;
	padding: 0px 6px 0px 20px;
	background: url('images/greybuttonred.gif') no-repeat left top;
	border: none;
	margin: 0px;
}

#globalnav li a:hover {
	background: url('images/greybuttonred.gif') no-repeat left top;
	background-position: 0% -26px;
}

/* The .operations is for the blue buttons to the right of the page */

#operations {
	float: right;
	top: 0px;
	margin: 10px 0px 0px 10px;
}

#operations ul {
	list-style: none;
	list-style-image: none;/* bug in IE */
	margin: 0px;
}

#operations li {
	font-size: 9px;
	font-family: AvenirLight, sans-serif;
	font-weight: normal;
	color: black;
	line-height: 100%;
	white-space: nowrap;
}

#operations li a {
	display:block;
	font-weight: normal;
	text-decoration: none;
	color: black;
	width: 104px;
	height: 15px;
	text-align: right;
	text-transform: uppercase;
	padding: 4px 5px 0px 4px;
	background: url('images/empty.jpg') no-repeat;
}

/* Tabbed menus - as used on the front page */
#tabbedmenu {
	float: left;
	width: 100%;
	border-bottom: thin solid #ff9400;
	font-size: 0.9em;
	line-height: normal;
}
#tabbedmenu ul {
	margin: 0;
	padding: 10px 10px 0;
	list-style: none;
	list-style-image: none;/* bug in IE */
}
#tabbedmenu li {
	float: left;
	background: url("images/tableft.gif") no-repeat left top;
	margin: 0;
	padding: 0 0 0 9px;
	white-space: nowrap;
}
#tabbedmenu a {
	display:block;
	text-decoration: none;
	font-weight: bold;
	color: black;
	background:url("images/tabright.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
}
#tabbedmenu #currenttab {
	background-image:url("images/tableft_on.gif");
}
#tabbedmenu #currenttab a {
	text-decoration: none;
	font-weight: bold;
	background-image:url("images/tabright_on.gif");
	padding-bottom:5px;
}
#tabbedmenu #currenttab span {
	display:block;
	text-decoration: none;
	font-weight: bold;
	background:url("images/tabright_on.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
}

/* Breadcrumb trail */
.breadcrumbtrail {
	position: absolute;
	left: 130px;
	right:0;
	top: 113px;
	font-size: 0.8em;
	font-family: verdana, arial, helvetica, sans-serif;
	color: black;
	height: 25px;
	background: url('images/bar_filled.png');
	background-repeat: repeat-x;
}


.breadcrumbhead {
	float: left;
	width: 20px;
	font-size: 1px;
	visibility: hidden;
}

.breadcrumbtail {
	float:right;
	width:1px;
}

.breadcrumbitem {
	float: left;
	padding-right: 28px;
	height: 13px;
	margin-right: 3px;
	background-image: url("images/bar_hole.png");
	background-repeat: no-repeat;
	background-position: 100% 0px;
	padding-top: 12px;
}

.breadcrumbitemlast {
	float: left;
	padding-right: 28px;
	height: 13px;
	margin-right: 3px;
	background-image: url("images/bar_dot.png");
	background-repeat: no-repeat;
	background-position: 100% 0px;
	padding-top: 12px;
}

.breadcrumbtrail a {
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.breadcrumbtrail a:hover {
	color: #707070;
}


/*
* Popups don't have left or right columns. Instead we
* indent the text a bit
*/
.popup {
	margin:30px;
	background-image: none;
	background-color: white;
}

.popuphead hr {
	background-color: #ff9400;
	height: 15px;
	border: none;
}

.popuphead h1 {
  color: #006666;
  font-size: 14pt;
  font-weight: bold;
}

.smallFont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
}

.back {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color:#FFFFFF;
	background-color:#FFFFFF;
	text-decoration: none;
}

/*
* We don't change to italics, but change the colour
*/
em {
	font-style: normal;
	color: #006666;
}

img#selected_order {
	border-width: 1px;
	border-color: red;
	border-style: solid;
}

th.selected {

	border-width: 2px;
	border-color: red;
}

/*
* Admonitions
*/
.caution {
	color: red;
	border-width: 1px;
}

.error {
	font-style: bold;
}

.metavalue {
	width: 500px;
	color: black;
	padding-left:5px;
}

.relvalue {
	width: 500px;
	color: red;
	padding-left:5px;
}

.metalabel {
	width: 100px;
	color: black;
	font-weight: bold;
	text-transform: capitalize;
}

.srch_rslt_col {
	padding-left:7px;
}

.srch_rslt_hdr {
	padding-left:5px;
}

/*
* <td> styles
*/

#short_name_row {
	background: #FFB652;
}

td.short_name, th.short_name {
	font-weight: bold;
	border: 1px solid #C0C0C0;
	vertical-align: top;
}

td.short_name_value {
	font-size: 12pt;
	font-weight: bold;
	border: 1px solid #C0C0C0;
	vertical-align: top;
}


td.simple_attr_title {
	font-weight: bold;
	vertical-align: top;
}

td.simple_attr_value {
	vertical-align: top;
}

td.simple_attr_value_big {
	font-weight: bold;
	font-size: 12pt;
	vertical-align: top;
}

td.simple_attr_help {
	vertical-align: top;
	text-align: center;
}

td.tbl_elms {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	border-left: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	background: #FFFFFF;
	text-decoration: none;
	vertical-align: top;
}

td.complex_attr_titleeven {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-left: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	vertical-align: top;
}

td.complex_attr_helpeven {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-left: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	text-align: center;
	vertical-align: top;
}

td.complex_attr_valueeven {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-left: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	vertical-align: top;
}

td.complex_attr_titleodd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-left: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	background: #FFFFFF;
	vertical-align: top;
}

td.complex_attr_helpodd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-left: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	background: #FFFFFF;
	text-align: center;
	vertical-align: top;
}

td.complex_attr_valueodd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-left: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	background: #FFFFFF;
	vertical-align: top;
}

td.dst_tbls {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	border-left: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	background: #FFFFFF;
	text-decoration: none;
	text-align: left;
}

td.mnd_opt_cnd {
	background-color: #FFFFFF;
	border: 1px solid #FF9900;
}

/*
* <th> styles
*/

th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
/*	background: #FFFFFF;*/
	text-decoration: none;
	border: 1px solid #FF9900;
}

.formtable th {
	border: none;
	background: transparent;
}

th.small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	background: #FFFFFF;
	text-decoration: none;
	border-left: 1px solid #FF9900;
	border-top: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
}

td.small {  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-style: normal; 
	line-height: normal; 
	text-decoration: none;
}

th.tbl_elms {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	border-left: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	color: #FFFFFF;
	background: #808080;
	text-decoration: none;
	text-align: left;
}

th.dst_tbls {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	border-left: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	color: #FFFFFF;
	background: #666666;
	text-decoration: none;
	text-align: left;
}


/* The feedback box after form submit*/
#feedback {
	margin-left:5px;
	margin-right:5px;
	padding: 3px 5px;
	border: 2px dashed gray;
}

/* Data tables have borders */
.datatable {
	border-collapse: collapse;
/*	margin: 1em 0.5em;*/
}
.datatable th, th[scope="col"], th.scope-col {
	background: transparent;
	text-align: center;
}
.datatable th.scope-row { /* IE6 doesn't understand [scope="row"] */
	text-align: left;
}
.datatable th[scope="row"] {
	text-align: left;
}

table .number {
        text-align: right;
}
table .sum {
        font-weight: bold;
}
table .center {
        text-align: center;
}

.datatable td, .datatable th  {
	border: 1px solid #C0C0C0;
	padding: 0.3em;
	vertical-align: top;
}

/* Create box */
#outputsmenu {
	border: 0px;
	width: 100%;
	text-align: left;
	vertical-align: middle;
}


/* Tables table */
#dataset-tables {
	width: 100%;
}

#dataset-tables th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
	background: #666666;
	text-decoration: none;
}

#dataset-tables td{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	background: #FFFFFF;
	text-decoration: none;
	text-align: left;
}

/* Dataset table "Obligations in ROD" */
.subtable{
	width: 100%;
	padding: 2px;
}

.subtable th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
	background: #808080;
	text-decoration: none;
}

.subtable td{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	background: #FFFFFF;
	text-decoration: none;
	vertical-align: top;
}

/* Dataset table "Complex attributes" */
#dataset-attributes {
	width: 100%;
	vertical-align: middle;
}

#dataset-attributes td{
	vertical-align: middle;
}

/* Tables for arranging formulars */
.formtable {
	border-collapse: collapse;
}
.formtable th.scope-row { /* IE6 doesn't understand [scope="row"] */
	text-align: right;
}
.formtable th[scope="row"] {
	text-align: right;
}
.formtable td, .formtable th  {
	vertical-align: top;
}
/* styles for sortable tables */
.sortable {
	font-size: 1em;
	line-height:normal;
	border: 1px solid #10847B;
}
.sortable th {
	background: #ccc;
	border: 2px outset #999;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	vertical-align: top;
}
.sortable thead a:link, .sortable thead a:visited, .sortable thead span {
	display:block;
	text-decoration: none;
	font-weight: bold;
	color: black;
	padding:1px 0.5em;
}

.sortable thead th a:hover {
	color: white;
	background: #aaa;
}

/*
table.sortable tbody td {
	border: 1px solid #c0c0c0;
	border-collapse: collapse;
}

table.sortable tbody td a {
	text-decoration: none;
}
*/
/* Temporary start */
table.sortable table tr td {
	border: none;
}
/* Temporary end */

tbody tr.zebraodd {
	background-color: #ffffff;
}

.datatable .odd {
	background-color: #FFFFFF;
}

/* Frontpage boxes */
#boxes td.box {
	width: 50%;
	border: 1px solid #FF9900;
	vertical-align: top;
	font-size: 8pt;
}  

#boxes h2 {
	background: #c56f00;
	font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
	border:none;
	text-align: center;
	padding-top: .2em;
	padding-bottom: .2em;
	margin-bottom: 0;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.navbuttons {
	float: right;
}

.navbutton, .navbutton:visited {
	display: block;
	font-size: 9px;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	color:black;
	width:105px;
	height:15px;
	text-align: right;
	padding: 0px 8px 0px 0px;
	background: url('images/empty.jpg') no-repeat left top;
	border: none;
	margin: 0px 3px 0px 0px;
}

.disabled {
	color:gray;
}

#quickbar {
	border: 1px solid #FF9900;
	background-color:#FFFFFF;
	padding: 3px;
	font-family: Verdana, Arial, "MS Sans Serif", sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: normal;
	text-decoration: none
}

#createbox {
	border: 1px solid #FF9900;
	margin-top: 10px;
}

.head00 {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10pt;
font-style: normal; 
line-height: normal; 
font-weight: bold; 
text-decoration: none; }

.smallfont {
  font-family: Verdana, Arial, MS Sans Serif; 
  font-size: 7pt;
  font-style: normal; 
  line-height: normal;
  font-weight: bold;
  text-decoration: none; }
  
input.smalltext {  font-family: Verdana, Arial, MS Sans Serif; 
font-size: 8pt;
font-style: normal; 
line-height: normal;
text-decoration: none; }

input.smallbuttonb {  font-family: Verdana, Arial, MS Sans Serif; 
font-size: 7pt;
font-style: normal; 
line-height: normal;
font-weight: bold;
text-decoration: none; }

input.mediumbuttonb {  font-family: Arial, "MS Sans Serif", sans-serif; 
font-size: 8pt;
font-style: normal; 
line-height: normal;
font-weight: bold;
text-decoration: none; }

.wrkcopy {
  color: #FF9900;
  font-size: 12pt;
  font-weight: bold;
}

.smallfont_light {
  font-family: Verdana, Arial, "MS Sans Serif", sans-serif; 
  font-size: 8pt;
  font-style: normal; 
  line-height: normal;
  text-decoration: none;
}

.barfont {
  font-family: Verdana, Arial, "MS Sans Serif", sans-serif;
  font-size: 7pt;
  font-style: normal;
  line-height: normal;
  text-decoration: none
}

td.barfont_bordered {
	border: 1px solid #C0C0C0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
}

.commonelm{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: bold;
	color: #024176;
}

th.light {  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 8pt;
font-style: normal; 
line-height: normal; 
font-weight: bold; 
color: #FFFFFF;
background: #20B2AA;
text-decoration: none; 
border: 0px;
}


} /* screen media */
