div.form fieldset {
    border: 0px;
}

div.form label {
   width: 150px;
   float: left;
}

html{height:100%}

body {
    height:100%;
}

/* styles that aren't in the central style sheet */
#outerframe {
    padding: 3px;
    margin-top: 10px;
    border-radius: 6px;/* CSS3 */
    -moz-border-radius: 6px;/* Mozilla */
}

#innerframe {
    padding: 3px;
    border: 1px solid #d8e1ce;
    border-radius: 6px;/* CSS3 */
    -moz-border-radius: 6px;/* Mozilla */
}

#quickbar {
    border: 1px solid #91aa73;
    background-color:#FFFFFF;
    padding: 3px;
    font-family: Verdana, Arial, "MS Sans Serif", sans-serif;
    font-size: 7pt;
    font-style: normal;
    line-height: normal;
    text-decoration: none
}

#createbox {
    border: 1px solid #91aa73;
    margin-top: 10px;
}

/* Create box */
#outputsmenu {
    border: 0px;
    width: 100%;
    text-align: left;
    vertical-align: middle;
}


/* Tables table */
#dataset-tables {
    width: 100%;
    font-size: 90%;
}

#dataset-tables th {
    font-weight: bold;
    color: #FFFFFF;
    background: #666666;
    text-decoration: none;
}

#dataset-tables td {
    background: #FFFFFF;
    text-decoration: none;
    text-align: left;
}

/* Other versions table */
#other-versions {
    width: 100%;
    font-size: 90%;
}

#other-versions th {
    font-weight: bold;
    color: #FFFFFF;
    background: #666666;
    text-decoration: none;
}

#other-versions td {
    background: #FFFFFF;
    text-decoration: none;
    text-align: left;
}

/* Dataset table "Obligations in ROD" */
.subtable {
    width: 100%;
    padding: 2px;
    font-size: 70%;
}

.subtable th {
    font-weight: bold;
    color: #FFFFFF;
    background: #808080;
    text-decoration: none;
}

.subtable td {
    font-weight: normal;
    background: #FFFFFF;
    text-decoration: none;
    vertical-align: top;
}

/* Dataset table "Complex attributes" */
#dataset-attributes {
    width: 100%;
}

#dataset-attributes td {
    vertical-align: middle;
}

.checkedout {
    color: #A00000;
}
/*
* Admonitions
*/
.attention {
    color: #FF0000;
}

.caution {
    color: red;
    border-width: 1px;
}

.error {
    font-style: bold;
}

/*
* Horisontal list.
*/
.horlist li {
    display: inline;
}

/*
* The legend for Mandatory, Optional, Conditional icons.
*/
#moc-legend {
    float:left;
    padding: 3px;
    border: 1px solid #d8e1ce;
    border-radius: 6px;/* CSS3 */
    -moz-border-radius: 6px;/* Mozilla */
}

#moc-legend ul li{
    padding-right: 20px;
}

.PopBoxImageLarge {
    border: 1px solid black;
}
/*
* Popups
*/
.popup {
    margin:30px;
    background-image: none;
    background-color: white;
}

.popup #pagehead {
    height: 102px;
    width: 100%;
    background: #a5ced1 url('top_01.png') repeat-y;
    border-top: 4px solid #6f7072;
    border-bottom: 1px solid #315076;
}

.popup #
 {
    margin-left: 0;
    border-left: 0;
    padding: 1em;
}

.popuphead hr {
    background-color: #315076;
    height: 15px;
    border: none;
}

.popup h1 {
    padding: 0.2em 0em;
    margin: 0;
    font-size: 135%;
    background-color: transparent;
    color: #315076;
}

.popup #close {
    float:right;
    padding-top:10px;
}

/*
* The <td> of row-moving buttons on some pages where the order of table rows can be dynamically changed.
*/
.row-movers {
    vertical-align:middle;
    padding-left:10px
}

.row-movers a{
    display:block;
    padding-top:10px;
}

.row-movers img#dot{
    padding-top:10px;
}

/*
* multiple select list implemented with <div>
*/
div .multiselect{
    overflow:auto;
    border:1px solid #9E9E9E;
}
/* Horizontal menus */
#auth-operations {
    float: left;
    width: 100%;
    font-size: 0.8em;
    line-height: normal;
}
#auth-operations h2 {
    float:left;
    font-size: 1em;
    background: transparent;
    border: none;
}

#auth-operations ul {
    margin: 0;
    padding: 0px 0px 0;
    list-style: none;
    list-style-image: none;/* bug in IE */
}
#auth-operations li {
    float: left;
    background-color: #f0f0f0;
    margin: 0 2px;
    padding: 0px;
    white-space: nowrap;
    border: 2px outset #a0a0a0;
}
#auth-operations a {
    display:block;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding:0px 3px;
}

/* Dropdown operations */
#drop-operations {
    float: right;
    width: 140px;
    font-family: verdana, helvetica, sans-serif;
}
#drop-operations h2 {
    font-size: 100%;
    background: #b0b0b0 url(images/drop-arrow.gif) 2px center no-repeat;
    font-weight: bold;
    padding: 0.2em 0px 0.2em 12px;
    margin: 0;
}
#drop-operations:hover h2 {
    background-image: none;
}
#drop-operations a:link, #drop-operations a:visited {
    display: block;
    text-decoration: none;
    padding: 0.1em 0.5em;
    color: #000;
}

#drop-operations ul {
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-image: none;
    display: none;
    position: absolute;
    top: 1em;
    left: 0;
    background-color: #ccc;
}

#drop-operations > ul { /* For Opera and Firefox */
    top: auto;
    left: auto;
}

#drop-operations ul li {
    float: none;
    border-right: 0 none transparent;
    border-bottom: 1px dotted #000;
    background-color: #ccc;
    text-transform: none;
    margin: 0;
    padding: 0.1em 0;
    color: #000;
}

#drop-operations li a:hover {
    background-color: #eee;
}

div#drop-operations:hover ul, .over ul {
    display: block;
    width: 140px;
}

img.scaled2 {
    width: 100%;
}
d.simple_attr_title{
    background-color: #f6f6f6;
    font-weight: bold;
    border-bottom: 2px solid white;
}
/*
* Two level tree navigation on vocabularies page
*/
.tree-nav li {
    list-style: none;
    list-style-image: none;
    vertical-align: bottom;
    margin: 0px 0px 3px 0px;
}
.tree-nav li a.expanded {
    font-weight:bold;
}
.tree-nav li a.collapsed{
    font-weight:normal;
}
.tree-nav li li{
    margin: 0px;
}
.tree-nav li a {
    text-decoration: none;
}
.tree-nav li li a {
    text-decoration: underline;
}
.tree-nav li a:hover {
    text-decoration: underline;
}
