<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

 <display-name>Data Dictionary</display-name>
  <description>Reportnet Data Semantics Registry</description>

	<!-- context params -->

	<context-param>
		<param-name>application-name</param-name>
		<param-value>datadict</param-value>
	</context-param>

	<context-param>
		<param-name>log-level</param-name>
		<param-value>5</param-value>
	</context-param>

	<context-param>
		<param-name>module-cache</param-name>
		<param-value>com.tee.xmlserver.tomcat.TCCache</param-value>
	</context-param>

	<context-param>
		<param-name>module-db_pool</param-name>
		<param-value>com.tee.xmlserver.tomcat.TCDBPool</param-value>
	</context-param>

	<context-param>
		<param-name>authenticator</param-name>
		<param-value>eionet.meta.DDuser</param-value>
	</context-param>

	<context-param>
		<param-name>login-error-page</param-name>
		<param-value>error.html</param-value>
	</context-param>

	<context-param>
		<param-name>visuals-path</param-name>
		<param-value>/prj/datadict/public/visuals</param-value>
	</context-param>

	<context-param>
		<param-name>temp-file-path</param-name>
		<param-value>/prj/datadict/tmp</param-value>
	</context-param>


	<!-- servlets -->

	<servlet>
		<servlet-name>env</servlet-name>
		<servlet-class>com.tee.util.EnvServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>eionet.meta.LoginServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>eionet.meta.LogoutServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GetSchema</servlet-name>
		<servlet-class>eionet.meta.GetSchema</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Import</servlet-name>
		<servlet-class>eionet.meta.Import</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DsVisualUpload</servlet-name>
		<servlet-class>eionet.meta.DsVisualUpload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetPrintout</servlet-name>
		<servlet-class>eionet.meta.GetPrintout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetImportResults</servlet-name>
		<servlet-class>eionet.meta.GetImportResults</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImgUpload</servlet-name>
		<servlet-class>eionet.meta.ImgUpload</servlet-class>
	</servlet>

	<!-- servlet mappings -->

	<servlet-mapping>
		<servlet-name>env</servlet-name>
		<url-pattern>/env/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSchema</servlet-name>
		<url-pattern>/GetSchema</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Import</servlet-name>
		<url-pattern>/Import</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DsVisualUpload</servlet-name>
		<url-pattern>/DsVisualUpload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPrintout</servlet-name>
		<url-pattern>/GetPrintout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetImportResults</servlet-name>
		<url-pattern>/GetImportResults</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImgUpload</servlet-name>
		<url-pattern>/ImgUpload</url-pattern>
	</servlet-mapping>


  <!-- the application server might allow directory listing.
       The welcome-files are used to overcome workings of such feature 
  -->

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<description>DataDict DB</description>
		<res-ref-name>jdbc/datadict</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Restricted Area</web-resource-name>
			<url-pattern>/app/*</url-pattern>
		</web-resource-collection>
   </security-constraint>


  <!-- force the entire application to security constraint CONFIDENTIAL -->
  <!-- as a result the non-SSL connector will redirect using the redirectPort
       value to the SSL connector -->
  <!-- first match wins -->
  <!-- transport-guarantee can be NONE, INTEGRAL, CONFIDENTIAL -->
  <!-- define SSL security> 
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>XslXmlFiles</web-resource-name>
      <description>app files</description>
      <url-pattern>/app/*</url-pattern>
      <url-pattern>//public/images/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Entire Application</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <!end def SSL security -->

</web-app>
