# JDBC driver settings
#######################
db.drv=com.mysql.jdbc.Driver
db.url=jdbc:mysql://@DB.HOST@/@DB.DATABASE@?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8&emptyStringsConvertToZero=false&jdbcCompliantTruncation=false
db.usr=@DB.USER@
db.psw=@DB.PASSWORD@


# properties of incoming services like ROD
###########################################
inserv.webrod.url=http://rod.eionet.europa.eu/rpcrouter
inserv.webrod.name=WebRODService
inserv.webrod.ra-url-pattern=http://rod.eionet.europa.eu/obligations/<RA_ID>

# properties of outgoing services like for ROD
##############################################
outserv.elm-details-url=@DD.URL@/data_element.jsp?mode=view&delem_id=<ELM_ID>
outserv.rod-obligation-url=http://rod.eionet.eu.int/obligations/
outserv.pred-identifier=http://purl.org/dc/elements/1.1/identifier
outserv.pred-title=http://purl.org/dc/elements/1.1/title

# properties for MS Excel generation
######################################
xls.schema-url=@DD.URL@/GetSchema?id=
xls.schema-url-sheet=DO_NOT_DELETE_THIS_SHEET

# properties for MS Access generation
#####################################
mdb.executable=@APP.HOME@/makemdb.sh
mdb.vmd-schema-url=@DD.URL@/GetSchema?id=

# various properties
#####################
harvester.log=@APP.HOME@/harvester.log
pdf.uni-font=@WEBAPP.HOME@/WEB-INF/classes/arial.ttf
xforms.templ.url=http://cdr.eionet.europa.eu/webq/GetXFormTemplate
jsp.url-prefix=@DD.URL@/
dd.rdf-schema.url=@DD.URL@/schema.rdf#
predicate.rdf-type=http://www.w3.org/1999/02/22-rdf-syntax-ns#type
predicate.rdf-label=http://www.w3.org/2000/01/rdf-schema#label
visuals.path=@WEBAPP.HOME@/visuals
opendoc.ods.path=@APP.HOME@/opendoc/ods
general.temp-file-path=@APP.HOME@/tmp
general.doc-path=@APP.HOME@/tmp


# UNS-related properties
#########################

# XML-RPC server URL for UNS subscription
uns.xml.rpc.server.url=http://uns.eionet.europa.eu/receiver

#Channel name for UNS subscription method
uns.channel.name=451146035889

# UNS event namespace
uns.events-namespace=@DD.URL@/events/

# Event type predicate for UNS subscription method
uns.eventtype.predicate=@DD.URL@/schema.rdf#event_type

# Dataset predicate for UNS subscription method
uns.dataset.predicate=@DD.URL@/schema.rdf#dataset

# Table predicate for UNS subscription method
uns.table.predicate=@DD.URL@/schema.rdf#table

# Common element predicate for UNS subscription method
uns.commonelem.predicate=@DD.URL@/schema.rdf#commonelem

# Definition URL predicate for UNS subscription method
uns.definition-url.predicate=@DD.URL@/schema.rdf#definition_url

# User predicate for UNS subscription method
uns.user.predicate=@DD.URL@/schema.rdf#user

# Definition status predicate for UNS subscription method
uns.definition-status.predicate=@DD.URL@/schema.rdf#definition_status

# UNS subscriptions URL
uns.subscriptions.url=@DD.URL@/subsc/edit?sid=

# username for UNS subscriptions
uns.username=ddnotif

# password for UNS subscriptions
uns.password=nucunexe

#UNS xmlrpc function that is called for making subscription
uns.make.subsription.function=UNSService.makeSubscription

#UNS xmlrpc function that is called for sending notifications
uns.send.notification.function=UNSService.sendNotification

# The help screen name for the DD documentation
documentation.screen-name=documentation

# Attributes irrelevant for certain data types
irrelevantAttrs.float=MinSize,MaxSize,DecimalPrecision
irrelevantAttrs.double=MinSize,MaxSize,DecimalPrecision
irrelevantAttrs.integer=MinSize,DecimalPrecision
irrelevantAttrs.decimal=MinSize
irrelevantAttrs.string=MinInclusiveValue,MaxInclusiveValue,MinExclusiveValue,MaxExclusiveValue,DecimalPrecision
irrelevantAttrs.date=MinInclusiveValue,MaxInclusiveValue,MinExclusiveValue,MaxExclusiveValue,DecimalPrecision,MinSize,MaxSize
irrelevantAttrs.boolean=MinInclusiveValue,MaxInclusiveValue,MinExclusiveValue,MaxExclusiveValue,DecimalPrecision,MinSize,MaxSize

# The base URI that uses in rdf:about and rdf:resource values in generated RDF files.
# Argument {0} stands for table id (the numeric one).
rdf.baseUri=@DD.URL@/tables/{0}/rdf/

# URI for the general RDF schema
dd.generalSchemaUri=@DD.URL@/schema.rdf#

# Local name for the multivalue delimiter attribute name
dd.multiValueDelimAttrName=multiValueDelim

# Full path to the MSAccess template file for generating MSAccess representations for datasets
datasetMSAccessTemplate=@APP.HOME@/msaccess/DD_generic_template.mdb

# properties for CR CAS filter config
edu.yale.its.tp.cas.client.filter.loginUrl=https://sso.eionet.europa.eu/login
edu.yale.its.tp.cas.client.filter.validateUrl=https://sso.eionet.europa.eu/serviceValidate
edu.yale.its.tp.cas.client.filter.serverName=@DD.HOST@
edu.yale.its.tp.cas.client.filter.wrapRequest=true

# Full path to the root directory of DD's file store.
filestore.path=@APP.HOME@/filestore
